html {
  height: 100%;
}
body {
  margin-top: 0%;
  margin: 0%;
}
.container {
  background-image: url(images/360_F_340930009_WtmPbofCmuBGo3SxTR59e3qUrUs8Bm2Y.jpg);
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: xx-large;
  font-family: "Rock Salt", cursive;
  color: rgb(255, 174, 0);
}
.content-title {
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
  /* background-image: url(images/pizza-seamless-pattern-vector-pizza-pattern-abstract-background-background-useful-restaurant-identity-packaging-89205691.jpg); */
}

.box {
  margin: 0%;
  padding: 5px;
  font-family: "Rock Salt", cursive;
  background-image: url(images/pizza-seamless-pattern-vector-pizza-pattern-abstract-background-background-useful-restaurant-identity-packaging-89205691.jpg);

}
.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.size {
  font-family: "Rock Salt", cursive;
  font-size: 2.5vh;
}

.toppings {
  font-family: "Rock Salt", cursive;
  font-size: 2.5vh;
}

.crust {
  
  font-family: "Rock Salt", cursive;
  font-size: 2.5vh;
}

#size {
  width: 250px;
  background-color: black;
  color: rgb(255, 174, 0);
  font-family: "Rock Salt", cursive;
}

#toppings {
  width: 250px;
  background-color: black;
  color: rgb(255, 174, 0);
  font-family: "Rock Salt", cursive;
}

#crust {
  width: 250px;
  background-color: black;
  color: rgb(255, 174, 0);
  font-family: "Rock Salt", cursive;
}

