html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin-top: 0%;
  margin: 0%;
  /* background-image: url(im); */
}
.container {
  background-image: url(images/360_F_340930009_WtmPbofCmuBGo3SxTR59e3qUrUs8Bm2Y.jpg);
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: xx-large;
  font-family: "Rock Salt", cursive;
  color: rgb(255, 174, 0);
}
.content-title {
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

.box {
  margin: 0%;
  padding: 5px;
  font-family: "Rock Salt", cursive;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* margin-bottom: 170px; */
}

.size {
  font-family: "Rock Salt", cursive;
  font-size: 2.5vh;
}

.toppings {
  font-family: "Rock Salt", cursive;
  font-size: 2.5vh;
}

.crust {
  font-family: "Rock Salt", cursive;
  font-size: 2.5vh;
}
.poisons {
  font-family: "Rock Salt", cursive;
  font-size: 2.5vh;
}

#size {
  width: 250px;
  background-color: black;
  color: rgb(255, 174, 0);
  font-family: "Rock Salt", cursive;
}

#toppings {
  width: 250px;
  background-color: black;
  color: rgb(255, 174, 0);
  font-family: "Rock Salt", cursive;
}

#crust {
  width: 250px;
  background-color: black;
  color: rgb(255, 174, 0);
  font-family: "Rock Salt", cursive;
}
#poisons {
  width: 250px;
  background-color: black;
  color: rgb(255, 174, 0);
  font-family: "Rock Salt", cursive;
}
#submit {
  background-color: black;
  color: rgb(255, 174, 0);
  font-family: "Rock Salt", cursive;
  cursor: pointer;
  margin: 40px;
}

.add-pizza {
  font-family: "Rock Salt", cursive;
  cursor: pointer;
  color: rgb(255, 174, 0);
  background-color: black;
}
.btn-choice {
  display: flex;
  /* border: 3px solid red; */
  justify-content: space-evenly;
  text-align: center;
  font-family: "Rock Salt", cursive;
}
.delivery-location {
  font-family: "Rock Salt", cursive;
  color: rgb(255, 174, 0);
  background-color: black;
}
.order-button {
  font-family: "Rock Salt", cursive;
  cursor: pointer;
  color: rgb(255, 174, 0);
  background-color: black;
}
.checkout-wrapper {
  text-align: center;
  margin: 20px;
}
.check-out {
  font-family: "Rock Salt", cursive;
  cursor: pointer;
  color: rgb(255, 174, 0);
  background-color: black;
}

.table-content {
  /* background-image: url(images/360_F_408517872_u7m4me8l83eenmUcsJ1ArSZymm5Unz4X.jpg); */
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  text-align: center;
  margin-left: 36.5%;
  margin-right: 0%;
  margin-bottom: 20px;
  font-family: "Rock Salt", cursive;
  padding: 10px;
}

.footer {
  height: 265px;
  background-image: url(images/pizza-seamless-pattern-vector-pizza-pattern-abstract-background-background-useful-restaurant-identity-packaging-89205691.jpg);
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(255, 174, 0);
  font-family: "Rock Salt", cursive;
  font-size: 70px;
}

.hide{
  display: none;
  
}